@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #f9d949;
}

* {
  font-family: "Poppins", sans-serif;
  background-color: #e2eade;
}

.main {
  width: 80%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  position: sticky;
  opacity: 0.8;
  z-index: 1;
}

a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

nav div a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  border-radius: 12px;
}

nav div a.active {
  color: white;
  background-color: #000;
  padding: 8px 8px;
  border-radius: 12px;
}

.post {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: drop-shadow(0px 2px 7px #000000);
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.date {
  color: #999;
  display: flex;
  align-items: center;
  gap: 2px;
}

.details {
  width: 80%;
  margin: auto;
}

.detail-title {
  font-size: 30px;
  font-weight: 500;
}

.details img {
  width: 100%;
}

.description {
  color: #222;
}

.clockIcon,
.arrowIcon {
  width: 2rem;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-section {
  width: 50%;
  margin: auto;
}

.form-section p {
  font-size: 20px;
  font-weight: 700;
}

.form-section form div {
  margin-top: 20px;
}

.form-section form div label {
  display: block;
  font-size: 18px;
}

.form-section form div input,
textarea {
  width: 100%;
  border: 1px solid #222;
  font-size: 18px;
  padding: 8px 8px;
}

.btn {
  color: white;
  background-color: #000;
  padding: 10px 15px;
  font-size: 20px;
  width: 50%;
  cursor: pointer;
}

.login-btn {
  margin-top: 10px;
  width: 40%;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.error-page div .icon {
  width: 4rem;
  height: 4rem;
}

.err-btn {
  width: max-content;
  padding: 10px 12px;
  border-radius: 10px 12px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  transition: transform 0.2s ease-in-out;
}

.err-btn:hover {
  background-color: red;
  font-style: italic;
  color: white;
  transform: translate(3px, 3px);
}

.err-message {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px 12px;
}

.sm {
  width: fit-content;
  padding: 8px 10px;
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.detail-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.create-acc {
  font-size: 16px !important;
  font-weight: normal !important ;
}

.create-acc a {
  text-decoration: underline !important;
}

@media (min-width: 400px) {
  .main,
  .details,
  .form-section {
    width: 90%;
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .main,
  .details,
  .form-section {
    width: 99%;
    font-size: 14px;
  }
}

@media (max-width: 367px) {
  .main,
  .details,
  .form-section {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 370px) {
  .main,
  .details,
  .form-section {
    width: 99%;
  }
}
/* HTML: <div class="loader"></div> */

.ctrl-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: linear-gradient(#000 0 0) left, linear-gradient(#000 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.loader::before {
  content: "Loading";
}
.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: linear-gradient(90deg, #000 4px, #0000 0 calc(100% - 4px), #000 0)
      bottom / 22px 20px,
    linear-gradient(90deg, red 4px, #0000 0 calc(100% - 4px), red 0) bottom 10px
      left 0/22px 6px,
    linear-gradient(#000 0 0) bottom 3px left 0 /22px 8px,
    linear-gradient(#000 0 0) bottom 0 left 50%/8px 16px;
  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}
@keyframes l9-0 {
  0%,
  25% {
    background-size: 50% 100%;
  }
  25.1%,
  75% {
    background-size: 0 0, 50% 100%;
  }
  75.1%,
  100% {
    background-size: 0 0, 0 0;
  }
}
@keyframes l9-1 {
  25% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
}
